# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
*.local
release
# Rust native prototype
native/target
native/run-*.txt
native/assets/_process_clouds.py
# Neutralino
.tmp
bin
*.neu
/neutralino.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
